# Confidential MAN ES data
data/raw/

# Downloaded YOLO models
yolo/models/yolo11n.pt
yolo/models/yolo11n-seg.pt
yolo/models/yolo11x.pt
yolo/models/yolo11x-seg.pt
notebooks/yolo11n.pt

# Copied Kaggle data
data/kaggle

# all README files (edit them on GitHub page)
*.md

# roboflow api key file
roboflow_api_key.txt

# downloaded roboflow dataset
data/MAN